.app {
  text-align: center;
}

.counter-section-container {
  margin-top: 24px;
  border-top: 2px solid black;
}

.increment-counter-btn {
  margin-top: 24px;
}

.counter-value {
  font-size: 24px;
  font-weight: bold;
}
